body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#page {
	height: 100%;
	width: 100%;
}

#main-frame {
	width: 70%;
	display: inline-block;
	margin-top: 50px;
}

.modal-dialog {
	width: 70%;
}

.touite-post {
	text-align: center;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.touite-post #touite-post {
	width: 30%;
	height: 32px;
}

#touite-alert-error, #touite-alert-success{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 40%;
}

.touite-space {
	margin-left: 5%;
}

.touite-date {
	font-style: italic;
}

.user-space {
	margin-left: 5%;
}

.left-side {
	width: 15%;
	height: 100%;
	float: left;
	display: block;
}

.left-side .logo {
	width: 100%;
	height: 300px;
	display: inline-block;
	background-image: url('../img/ic_launcher-web.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: white;
}

.right-side {
	width: 15%;
	float: right;
}

.right-side #disconnect-button {
	margin-top: 50px;
	text-align: center;
	margin-right: auto;
}

.right-side #account-button {
	margin-top: 50px;
	text-align: center;
	margin-left: 10px;
	margin-right: auto;
}