body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#page {
	height: 100%;
	width: 100%;
}

.logo {
	width: 49%;
	height: 100%;
	display: inline-block;
	float: left;
	background-image: url('../img/logo_1024x1024_300dpi-transparent.png');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
	background-color: white;
}

#credentials-section {
	margin-top: 12%;
	float: right;
	display: inline-block;
	width: 45%;
	height: 100%;
}

#login-alert {
	margin-top: 5px;
}

#login-btn {
	margin-top: 5px;
}

#register-btn {
	margin-top: 5px;
}